body {
    margin: 0;
    font-family: 'Alexandria', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4061AE;
    text-align: left;
    text-decoration: none;
}

/* html {
    background-color: #3a78c9;
} */

.input {
    font-family: 'Alexandria', sans-serif;
    justify-content: center;
    justify-items: center;
}


#cover img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: hidden;
    transition: background-color 1s ease;
}

.nav {
    color: #001e625f;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.928);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; 
    justify-content: space-around;
    display: flex;
    font-weight: 700;
}

.nav :hover{
    text-decoration: none;
    color:white;
    background-color: #5d5d5d5f;
    font-weight: 700;
}

/* .nav :active{
    text-decoration: none;
    color:white;
    background-color: #5d5d5d5f;
    font-weight: 700;
} */

.nav a {
    display: inline-block;
    padding: 10px;
}
a:link {
    text-decoration: none;
    transition: background-color 1s ease;
}


.containerGreeting {
    font-family: 'Alexandria', sans-serif;
    max-width: 80%;
    margin: 30px auto;
    padding: 40px;
    font-size: xx-large;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container {
    max-width: 80%;
    margin: 30px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerWrapper {
    display: flex;
    max-width: 87%;
    margin: 0 auto; /* Center the containerWrapper horizontally */
    justify-content: space-between;
}

.containerWrapped {
    flex: 1; /* Grow to take available space */
    margin-right: 2%; /* Add some margin between the containers */
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Add space between the two image containers */
    align-items: center; 
}


.image-container2 {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.image-container2 img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the image and the text */
}

#temp,
#descData {
    display: inline-block;
}


.containerLogIn {
    max-width: 50%;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#currentTime {
    justify-content: center;
    justify-items: center;
    font-weight: 600;
    font-size:large;
}

#temp {
    font-weight: 600;
    display: inline-block;
}
#descData {
    font-weight: 600;
    font-size: large;
    display: inline-block;
}

.image-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.image-container img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the image and the text */
}

#currentDate {
    font-weight: 600;
    margin-top: 5px; /* Adjust the margin-top value as needed */
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    font-size:xx-large;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-family: 'Alexandria', sans-serif;
    background-color: #87CEEB;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #87cfeb5f;
}


.card-header {
    color: #87cfeb5f;
    font: 500 20px;
    font-weight: 500;
    margin-top: 0;
}

.card-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.card-list {
    gap: 64px;
}

.card-list>li {
    min-width: 450px;
    flex: 1;
}

.member-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.member-card>.text {
    margin-bottom: 0;
}

.member-card-image {
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
}

.member-card-text {
    height: 100%;
    margin: auto 0;
}